.chat-main-body {
  display: flex;
  width: 100%;
  height: 100vh;
}

.chat-container {
  display: flex;
  width: 87%;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: space-between;
}

.chat-header {
  padding: 2px 20px;
  background-color: #4d4d4d;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 20px;
}

.chat-message {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.chat-message .message-text {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.conversation {
  width: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.conversation-list {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: stretch;
}

.chat-menu {
  flex-shrink: 1;
  align-self: stretch;
}

.conversation-item {
  display: flex;
  height: 55px;
  overflow-x: hidden;
  font-size: 17px;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 5px;
  flex: 8;
  width: 85%;
}

.conversation-item:hover {
  background-color: rgba(0, 0, 0, .15);
}

.conversation-item span {
  margin-left: 5px;
}

.conversation-item-login {
  display: flex;
  height: 40px;
  overflow-x: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 5px;
  flex: 8;
}

.conversation-item-login button {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.conversation-action {
  margin-bottom: 10px;
  flex: 2;
  border-top: 2px solid #f2f2f2;
}

.action-item {
  margin-left: 12px;
}

.user-action-item {
  font-size: 16px;
}

.chat-me {
  width: 29px;
  height: 29px;
  margin-top: 5px;
}

.user-menu {
  margin-left: 10px;
  background-color: #1d93ab;
}



.input-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.input-box textarea {
  flex: 1;
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  font-family: sans-serif;
  resize: none;
}

textarea:focus {
  border: none;
  box-shadow: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.input-box button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;

}

.chat-send-icon {
  transform: rotate(-45deg);
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.input-box button:hover {
  background-color: #3e8e41;
}

.input-box button i {
  margin-right: 5px;
}