.img-container {
    display: flex;
}

.img-item {
    width: 360px;
    height: 360px;
    margin-left: 20px;
}


.image-input {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.image-input input {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #ccc;
    transition: border-color 0.5s ease;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    box-sizing: border-box;
    min-height: 50px;
}

.image-input button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    height: 40px;
    margin-right: 150px;
}

.appDivider {
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
    margin-top: 15px;
}