.App {
  text-align: center;
}

.App-footer-float{
  margin: 0 auto;
  width: 100%;
}

.App-footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #ffffff;
  width: 100%;
  margin-bottom: 15px;
}

.App-footer-div{
  font-size: 15px;
  display: flex;
  width: 90%
}

.App-footer-divider{
  border-top: 1px solid #ccc;
  margin-bottom: 15px;
}

.contact{
  height: 10px;
  width: 10px;
}

.custom-row {
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
