.qa-content {
    background-color: rgba(0,0,0,.05);
    border-radius: 3px;
    align-items: center;     /* 垂直居中 */
    word-wrap: break-word; 
    word-break: normal;
    min-height: 35px;
    display: flex;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #dedede;
    padding: 5px;
}

.qa-container p{
    text-align: left;
    font-size: 17px;
    margin: 0;
    padding: 0;
    flex: 1;
}
