.qa-content {
    background-color: whitesmoke;
    border-radius: 3px;
    align-items: center;     /* 垂直居中 */
    word-wrap: break-word; 
    word-break: normal;
    min-height: 40px;
    display: flex;
    margin-left: 33px;

}

.qa-container p{
    text-align: left;
    font-size: 17px;
    margin: 0;
    padding: 0;
    flex: 1;
}
